@charset "UTF-8";
.header {
  display: flex;
  flex-direction: column;
}
.header img {
  width: 162px;
}
.header__link {
  display: flex;
  justify-content: center;
  padding-block: 14px 13px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
}
.header form {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background-color: #EAEAEA;
}
.header__localisation {
  font-size: 16px;
  margin: 15px 0 15px 17px;
  background-color: #eaeaea;
  border: none;
  width: 109px;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-bottom: 57px;
}
.intro__title {
  text-align: center;
  padding: 39px 58px 0px 42px;
  height: 68px;
}
.intro__subtitle {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 27px;
}

.btn {
  padding: 13px 18px;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  border-radius: 25px;
  text-decoration: none;
  color: white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
  transition-duration: 0.25s;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.3490196078);
}

.fonctionnement {
  margin: 48px 20px 68px 20px;
}
.fonctionnement__title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 26px;
}
.fonctionnement__ol {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0 0 0 5px;
  list-style: none; /* Supprime les puces par défaut */
  counter-reset: my-counter; /* Réinitialise le compteur */
}
.fonctionnement__li {
  padding: 28px 0 28px 32px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  counter-increment: my-counter; /* Incrémente le compteur à chaque élément */
  position: relative;
}
.fonctionnement__li:hover .fonctionnement__logo {
  color: #9356DC;
}
.fonctionnement__li::before {
  content: counter(my-counter);
  background-color: #9356DC;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #FFFFFF;
  position: absolute;
  left: -8px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement__logo {
  padding-right: 22px;
  color: #7E7E7E;
}

.restaurants {
  background-color: #F6F6F6;
  padding: 54px 20px 66px 20px;
}
.restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  position: relative;
}
.restaurants__img {
  object-fit: cover;
  object-position: 50% 60%;
  width: 100%;
  height: 170px;
  border-radius: 15px 15px 0px 0px;
}
.restaurants__vignette-new {
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  text-align: center;
  padding-block: 6px;
  width: 80px;
  position: absolute;
  top: 13px;
  right: 12px;
}
.restaurants__info {
  display: flex;
  padding: 13px 25px 16px 13px;
  justify-content: space-between;
}
.restaurants__title {
  font-size: 18px;
}
.restaurants__subtitle {
  font-weight: 300;
}

.fav-icone {
  display: flex;
  margin-top: 10px;
  height: 100%;
}
.fav-icone:hover .fav-icone__no-bg {
  opacity: 0;
}
.fav-icone:hover .fav-icone__bg {
  opacity: 1;
}
.fav-icone__no-bg {
  position: relative;
  transition: opacity 0.2s;
}
.fav-icone__no-bg:hover {
  opacity: 0;
}
.fav-icone__bg {
  position: absolute;
  background-image: linear-gradient(0deg, rgb(147, 86, 220) 11%, rgb(255, 121, 218) 123%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 0.5s;
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
}
.footer * {
  color: white;
  list-style: none;
  text-decoration: none;
}
.footer__title {
  font-family: Shrikhand;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 16px;
}
.footer__ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer__size-txt {
  font-weight: 300;
}
.footer__logo {
  padding-right: 5px;
}
.footer__size-logo1 {
  font-size: 13px;
}
.footer__size-logo2 {
  font-size: 10px;
}

/*# sourceMappingURL=style.css.map */
