.btn {
    padding: 13px 18px;
    background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
    border-radius: 25px;
    text-decoration: none;
    color: white;
    box-shadow: 0px 4px 10px 0px #00000040;
    cursor: pointer;
    transition-duration: .25s;
    &:hover{
        opacity: 0.8;
        box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.3490196078);

    }
}