.header {
    display: flex;
    flex-direction: column;
    img {
        width: 162px;
    }
    &__link {
        display: flex;
        justify-content: center;
        padding-block: 14px 13px;
        box-shadow: 0px 2px 4px 0px #00000026;
        position: relative;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px 0px #00000040;
        background-color: #EAEAEA;

    }
    &__localisation {
        font-size: 16px;
        margin: 15px 0 15px 17px;
        background-color: #eaeaea;
        border: none;
        width: 109px;
    }
}
